@using PetShop.Models.Dtos
@model PetShop.Models.Dtos.AnimalDto
@{
    ViewData["Title"] = "Add Animal";
}

<h1>Add new animal</h1>

<partial name="_AnimalFormFields" model="@Model">

    
@section Scripts{
    <script>
            function sendForm(e) {
                e.preventDefault();

                Swal.fire({
                    title: 'Success!',
                    text: 'Animal was added',
                    icon: 'success',
                    confirmButtonText: 'Okay',
                    showCancelButton: false
                }).then(result => {
                    if (result.isConfirmed) {
                        const myForm = document.getElementById('myForm');
                        myForm.submit();
                    }
                })
            }
    </script>
}





